/* NAV */
#psw_topnav {
  background-color: rgb(231, 234, 229);
}
#psw_topnav2 {
  background-color: rgb(231, 234, 229);
}

.nav_text {
  color: rgb(41, 41, 41);
  text-decoration: none;
  border: none;
  box-shadow: none;
}

#psw_navbar .navbar-toggler-icon {
  filter: invert(1) !important;
}

#search-bar {
  border-color: black;
  border-width: 1px 0px 1px 1px;
  border-radius: 20px 0px 0px 20px;
}

#search-bar-2 {
  border-color: black;
  border-width: 1px 1px 1px 0px;
  border-radius: 0px 20px 20px 0px;
  background-color: rgb(228, 228, 228);
}

.nav_text:hover,
.nav_link:hover {
  color: rgb(155, 188, 251);
}

@font-face {
  font-family: "theRave";
  src: url("../font/PS.ttf") format("truetype");
}

@font-face {
  font-family: "oldPS";
  src: url("../font/PS_old.ttf") format("truetype");
}

#shop_now_dd:visited {
  color: white;
}

#shop_now_dd:hover {
  color: rgb(155, 188, 251);
}

.dd_shopnow {
  font-family: "oldPS";
  background-color: rgb(59, 59, 59);
}

.dd_shopnow1:hover {
  background-color: rgb(216, 216, 216);
}

.li_dd:hover {
  background-color: rgb(145, 145, 145);
}

#psw_navbar {
  font-family: "theRave";
  background-color: rgb(41, 41, 41);
}

.nav_link {
  color: white;
}

/* Body */

/* HOME */
#content_body {
  background-color: rgb(254, 254, 250);
}

.carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

#imageCarousel .carousel-control-prev,
#imageCarousel .carousel-control-next {
  width: auto; /* Set width to auto */
  font-size: 1rem; /* Adjust font size as needed */
}

#imageCarousel2 .carousel-control-prev,
#imageCarousel2 .carousel-control-next {
  width: auto; /* Set width to auto */
  font-size: 1rem; /* Adjust font size as needed */
}

.hot_arrow_button {
  border-radius: 50%; /* Make buttons round */
  background-color: rgb(95, 95, 95); /* Set background color to gray */
}

/* SHOP */
#prod_link {
  text-decoration: none;
}

#shop_border {
  border: 1px solid;
  border-radius: 25px;
  border-color: rgb(172, 172, 172);
}

.card_name {
  text-decoration: none;
}

.card_img_prod {
  object-fit: cover;
}

.card_img_prod:hover {
  filter: brightness(0.7);
}

.card_name {
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(95, 150, 253);
}

.card_name:hover {
  filter: brightness(0.7);
}

.add-cart {
  background-color: rgb(110, 110, 110);
}

.add_cart_bt {
  background-color: rgb(0, 112, 209);
}

.add_cart_bt:hover {
  background-color: rgb(110, 110, 110);
}

/* GAMES PAGES */
#games_body {
  background-color: rgb(24, 24, 24);
}

#div_heroimg {
  position: relative;
}

#heroimg {
  height: 100%;
  width: 100%;
  opacity: 0.45;
  display: inline-block;
}

/* My Acct */

#dp_myacct {
  border-radius: 500px;
  overflow: hidden;
  border: 2px solid black;
}

#myacct_warning {
  font-size: 12px;
}

/* CART PAGE */
.payment-logo {
  width: 30px;
}

#gcash-logo {
  width: 50px;
}

.form-select option {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* #cod_tab {
  color: ;
} */
/* Footer */
#footer_newsletter {
  /* background-color: rgb(53, 84, 153); */
  background-color: rgb(102, 104, 110);
}
.footer_sm_logo {
  width: 40px;
}

#footer-container {
  background-color: rgb(41, 41, 41);
  color: white;
}

#subscribe-bar-2 {
  background-color: rgb(41, 41, 41);
  border: 1px solid rgb(41, 41, 41);
}

.footer_link {
  color: white;
}

.footer_link2 {
  color: white;
}

.footer_link:hover {
  color: rgb(155, 188, 251);
}

#fbot_text {
  font-size: 12px;
}

#footer_bottom {
  background-color: rgb(254, 254, 250);
}
